HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Gradle ###
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

### Mac OS ###
.DS_Store

### Logs ###
*.log
logs/

### Application específico ###
application-local.properties
application-local.yml
*.env
.env

### Banco de dados ###
*.db
*.sqlite

### Outros ###
*.class
*.jar
*.war
*.ear
*.tmp

mvnw
mvnw.cmd

/node/
/node_modules/

# Ignora os arquivos de build temporários e bundles gerados do front-end
src/main/frontend/generated